.nav-toggle{
    padding: 0.25em;
    background: transparent;
    border:0;
    cursor:pointer;
    position:absolute;
    top:2rem;
    right:2rem;
    z-index: 1000;
    display: none;
}
.nav-open .nav-toggle{
 position: fixed;
}
.hamburger{ 
    display:block;
    position: relative;
}
.nav-open .hamburger{
    transform: rotate(0.625turn);
}
.nav-open .hamburger::after{
    opacity:0;
}
.hamburger,
.hamburger::before,
.hamburger::after{
    background:blue;
    width: 2em;
    height: 3px;
    border-radius:1em;
    transition:transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content:'';
    position:absolute;
    left:0;
    right:0;
}

.hamburger::before{
    top:6px;
}
.nav-open .hamburger::before{
    transform: rotate(90deg) translateX(-6px);
}
.hamburger::after{
    bottom:6px;
}
.nav-open .hamburger::after{
    opacity:0;
}
@media(max-width:35em){
    .nav-toggle{
        display: block;
    }
}
